{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <title>Escola</title>
</head>
<body>
    <header>
        <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt="Logo"></a>
    </header>

    <h1>Lista de alunos:</h1>
  
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Situação</th>
            </tr>
        </thead>
        <tbody>
            {% for aluno in alunos %}
            <tr>
                <td><a href="{% url 'aluno' aluno.id %}">{{ aluno.nome }}</a></td>
                <td>{{ aluno.situacao }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>